@use 'variables' as v;

@media screen and (min-width: 0px) {
  .article {
    margin: 5% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    line-height: 1.7;
    color: v.$black;

    p {
      width: 100%;
    }
  }
}
