@use 'variables' as v;

@media screen and (min-width: 0px) {
  .section {
    text-align: center;

    h2 {
      color: v.$teal;
    }
    h3 {
      color: v.$maroon;
    }
  }

  .sectionImg {
    width: 100%;
    height: auto;
    margin-block: 1.5rem;
    max-width: 650px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }

  .pWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: v.$black;
    text-align: center;
    line-height: 1.7;
    max-width: 1400px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: minMax(0, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    .col {
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .pckgWrapper {
    margin-top: 1.5rem;
  }

  .pckgList {
    list-style: none;
    li {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: v.$black;
      text-align: center;
      line-height: 1.7;
      font-family: v.$body;
      font-size: 1rem;
      @media all and (min-width: v.$desktop) {
        font-size: 1.125rem;
      }
    }
  }
}

@media screen and (min-width: v.$tablet) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: v.$desktop) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;

    .pWrapper {
      text-align: left;
      width: 100%;
    }
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
