// color variables
$white: #fffbf6;
$black: #000e0c;
$orange: #f15200;
$maroon: #560107;
$teal: #168d79;

//breakpoints
$tablet: 768px;
$desktop: 1024px;

//fonts
$header: 'Ibarra Real Nova', serif;
$body: 'Poppins', sans-serif;
