@use 'variables' as v;

//local fonts
@font-face {
  font-family: 'Cinzel';
  src: url('../public/fonts/cinzel.regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../public/fonts/cinzel.bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../public/fonts/cinzel.black.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('../public/fonts/garet.book.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('../public/fonts/garet.heavy.woff');
  font-weight: 700;
  font-style: normal;
}

// reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// typography
h1 {
  font-family: v.$header;
  font-weight: 700;
  @media all and (min-width: 0px) {
    font-size: 1.5rem;
  }
  @media all and (min-width: v.$tablet) {
    font-size: 2rem;
  }
  @media all and (min-width: v.$desktop) {
    font-size: 3rem;
  }
}
h2 {
  font-family: v.$header;
  font-weight: 700;
  padding-bottom: 2px;
  margin-bottom: 1rem;
  font-variant-caps: small-caps;
  border-bottom: 2px solid v.$green;
  display: inline-block;
  @media all and (min-width: 0px) {
    font-size: 1.5rem;
  }
  @media all and (min-width: v.$tablet) {
    font-size: 1.7rem;
  }
  @media all and (min-width: v.$desktop) {
    font-size: 2rem;
  }
}
h3 {
  font-family: v.$body;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

a {
  font-weight: 700;
  text-decoration: none;
}

p,
span {
  font-weight: 400;
}

a,
p,
span {
  font-family: v.$body;
  font-size: 1rem;
  @media all and (min-width: v.$desktop) {
    font-size: 1.125rem;
  }
}
