@use "variables" as v;

@media all and (min-width: 0) {
  .light {
    text-align: center;

    h2 {
      color: v.$teal;
    }
    h3 {
      color: v.$maroon;
    }
  }
  .dark {
    background-color: v.$maroon;
    padding: 5%;
    text-align: center;
    h2 {
      color: v.$white;
    }
    .cardWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      span {
        color: v.$white;
      }
    }
  }
  .sectionImg {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    max-width: 600px;
  }
  .textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: v.$black;
    line-height: 1.7;
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1.5rem;
    text-align: left;
  }
}

@media all and (min-width: v.$tablet) {
}

@media all and (min-width: v.$desktop) {
  .textWrapper {
    max-width: 50%;
    align-items: flex-start;
  }
  .left {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .right {
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .dark {
    padding: 3%;
    .cardWrapper {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
