@use "variables" as v;

.wrapper {
  position: relative;
  margin: 0 20%;
  margin-top: 1.5rem;
  h3 {
    color: v.$maroon;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.form {
  button {
    display: block;
    background-color: v.$orange;
    color: v.$white !important;
    padding: 6px 12px;
    border-radius: 12px;
    width: fit-content;
    margin: 15px auto;

    font-family: v.$body;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.custWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
  gap: 0.75rem;
  margin-bottom: 0.75rem;
  justify-content: center;
  label {
    font-family: v.$header;
    font-size: 1.3rem;
    color: v.$teal;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  input {
    font-family: v.$body;
    font-size: 1rem;
    padding: 1rem;
    background-color: #fffbf6;
    border: none;
    border-radius: 12px;
    color: v.$black;
    &::placeholder {
      color: #2e4d49;
    }
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px hsla(356, 98%, 17%, 25%),
        0 0 0 1px hsla(356, 98%, 17%, 50%);
    }
  }
}
.inputWrapper {
  display: flex;
  flex-direction: column;
}

.radioWrapper {
  font-family: v.$body;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  input {
    accent-color: v.$orange;
    margin: 5px;
  }
}

.paymentWrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1396px) {
    flex-direction: row;
    flex-grow: 1;
    gap: 5rem;
  }
}

.elementWrapper {
  width: 100%;
}
